### Form A

In [ ]:
import pandas as pd

# JSON data
data = {
    "OUTREACH CLINIC DATA FROM A": {
        "Person filling form": "value",
        "Position": "value",
        "LCA name (If Applicable)": "value",
        "Village": "value",
        "District": "value"
    },
    "OUTREACH CLINIC INFORMATION": {
        "Date": "value",
        "Intended Start Time": "value",
        "Actual Start Time": "value",
        "End Time": "value",
        "Was an HAC worker present? (Circle)": "Yes/No",
        "Were any other organisations involved or contributing to this outreach?": "Yes/No",
        "If yes, name of organisation": "value",
        "List names of villages patients came from": ["value1", "value2"]
    },
    "Total Patients": {
        "Ages": [
            "0-28 days",
            "29 days-4 years",
            "5 years-9 years",
            "10 years-18 years",
            "19 years-24 years",
            "25 years-59 years",
            "60 years and up"
        ],
        "Male": {
            "0-28 days": "Nill",
            "29 days-4 years": "value",
            "5 years-9 years": "value",
            "10 years-18 years": "value",
            "19 years-24 years": "value",
            "25 years-59 years": "value",
            "60 years and up": "value"
        },
        "Female": {
            "0-28 days": "Nill",
            "29 days-4 years": "value",
            "5 years-9 years": "value",
            "10 years-18 years": "value",
            "19 years-24 years": "value",
            "25 years-59 years": "value",
            "60 years and up": "value"
        },
        "Total": {
            "0-28 days": "Nill",
            "29 days-4 years": "value",
            "5 years-9 years": "value",
            "10 years-18 years": "value",
            "19 years-24 years": "value",
            "25 years-59 years": "value",
            "60 years and up": "value"
        }
    },
    "Money Collected": {
        " ": [
            "Adults",
            "Children",
            "Exceptions",
            "Reduced Payments",
            "Fees waived",
            "Total"
        ],
        "Number of People": {
            "Adults": "value",
            "Children": "value",
            "Exceptions": "value",
            "Reduced Payments": "value",
            "Fees waived": "value",
            "Total": "value"
        },
        "UGX per person": {
            "Adults": "value",
            "Children": "value",
            "Exceptions": "value",
            "Reduced Payments": "value",
            "Fees waived": "value",
            "Total": "value"
        },
        "Total Collected": {
            "Adults": "value",
            "Children": "value",
            "Exceptions": "value",
            "Reduced Payments": "value",
            "Fees waived": "value",
            "Total": "value"
        }
    },
    "Money Distributed": {
        " ": [
            "Total given to HCWs",
            "Total given to VHTs/LCA Member",
            "Transporters",
            "Other Costs",
            "Total"
        ],
        "Amount Distributed": {
            "Total given to HCWs": "value",
            "Total given to VHTs/LCA Member": "value",
            "Transporters": "value",
            "Other Costs": "value",
            "Total": "value"
        }
    }
}

# Create DataFrames for each section
outreach_clinic_data_df = pd.DataFrame([data["OUTREACH CLINIC DATA FROM A"]])
outreach_clinic_info_df = pd.DataFrame([data["OUTREACH CLINIC INFORMATION"]])

# Convert columns into rows using melt
outreach_clinic_data_df = outreach_clinic_data_df.melt(var_name="Attribute", value_name="Value")
outreach_clinic_info_df = outreach_clinic_info_df.melt(var_name="Atribute", value_name="Value")

# Handle "Total Patients"
total_patients_data = data["Total Patients"]
total_patients_df = pd.DataFrame({
    "Age Group": total_patients_data["Ages"],
    "Male": list(total_patients_data["Male"].values()),
    "Female": list(total_patients_data["Female"].values()),
    "Total": list(total_patients_data["Total"].values())
})

# Handle "Money Collected"
money_collected_data = data["Money Collected"]
money_collected_df = pd.DataFrame({
    "Category": money_collected_data[" "],
    "Number of People": list(money_collected_data["Number of People"].values()),
    "UGX per person": list(money_collected_data["UGX per person"].values()),
    "Total Collected": list(money_collected_data["Total Collected"].values())
})

# Handle "Money Distributed"
money_distributed_data = data["Money Distributed"]
money_distributed_df = pd.DataFrame({
    "Category": money_distributed_data[" "],
    "Amount Distributed": list(money_distributed_data["Amount Distributed"].values())
})

# Display all DataFrames
outreach_clinic_data_df, outreach_clinic_info_df, total_patients_df, money_collected_df, money_distributed_df

(                  Attribute  Value
 0       Person filling form  value
 1                  Position  value
 2  LCA name (If Applicable)  value
 3                   Village  value
 4                  District  value,
                                             Atribute             Value
 0                                               Date             value
 1                                Intended Start Time             value
 2                                  Actual Start Time             value
 3                                           End Time             value
 4                Was an HAC worker present? (Circle)            Yes/No
 5  Were any other organisations involved or contr...            Yes/No
 6                       If yes, name of organisation             value
 7          List names of villages patients came from  [value1, value2],
            Age Group   Male Female  Total
 0          0-28 days   Nill   Nill   Nill
 1    29 days-4 years  value  value  value
 2    5 years-9 years  value  value  value
 3  10 years-18 years  value  value  value
 4  19 years-24 years  value  value  value
 5  25 years-59 years  value  value  value
 6    60 years and up  value  value  value,
            Category Number of People UGX per person Total Collected
 0            Adults            value          value           value
 1          Children            value          value           value
 2        Exceptions            value          value           value
 3  Reduced Payments            value          value           value
 4       Fees waived            value          value           value
 5             Total            value          value           value,
                          Category Amount Distributed
 0             Total given to HCWs              value
 1  Total given to VHTs/LCA Member              value
 2                    Transporters              value
 3                     Other Costs              value
 4                           Total              value)

In [ ]:
outreach_clinic_data_df

                  Attribute  Value
0       Person filling form  value
1                  Position  value
2  LCA name (If Applicable)  value
3                   Village  value
4                  District  value

In [ ]:
outreach_clinic_info_df

                                            Atribute             Value
0                                               Date             value
1                                Intended Start Time             value
2                                  Actual Start Time             value
3                                           End Time             value
4                Was an HAC worker present? (Circle)            Yes/No
5  Were any other organisations involved or contr...            Yes/No
6                       If yes, name of organisation             value
7          List names of villages patients came from  [value1, value2]

In [ ]:
total_patients_df

           Age Group   Male Female  Total
0          0-28 days   Nill   Nill   Nill
1    29 days-4 years  value  value  value
2    5 years-9 years  value  value  value
3  10 years-18 years  value  value  value
4  19 years-24 years  value  value  value
5  25 years-59 years  value  value  value
6    60 years and up  value  value  value

In [ ]:
money_collected_df

           Category Number of People UGX per person Total Collected
0            Adults            value          value           value
1          Children            value          value           value
2        Exceptions            value          value           value
3  Reduced Payments            value          value           value
4       Fees waived            value          value           value
5             Total            value          value           value

In [ ]:
money_distributed_df

                         Category Amount Distributed
0             Total given to HCWs              value
1  Total given to VHTs/LCA Member              value
2                    Transporters              value
3                     Other Costs              value
4                           Total              value

### Form B

In [46]:
import pandas as pd

# Provided JSON data
json_data = {
    "OUTREACH CLINIC DATA FROM B": {
        "Person filling form": "value",
        "Position": "value",
        "Health Centre": "value",
        "Village": "value",
        "Date": "value"
    },
    "OUTREACH CLINIC INFORMATION": {
        "Names of health workers who attended": "value",
        "Number of Health Workers": {
            "Total Health Workers": "value",
            "Enrolled Midwives": "value",
            "Registered Midwives": "value",
            "Case Officer": "value",
            "Counsellors": "value",
            "Lab Technician": "value",
            "Nursing Assistant": "value",
            "Enrolled Nurse": "value",
            "Registered Nurse": "value",
            "Other (Specify)": "value"
        },
        "Services offered": [
            "General Treatment",
            "ART Refills",
            "Family Planning",
            "ANC/PNC",
            "HIV Counselling/Testing",
            "Immunization"
        ],
        "Were there stockouts? (circle one)": "Y/N",
        "What services were IMPACTED or UNAVAILABLE due to stockouts?": {
            "General Treatment": [
                "Malaria Treatment",
                "Amoxicillin",
                "Other"
            ],
            "HIV/ART": [
                "ART",
                "Testing",
                "Other"
            ],
            "Family Planning": [
                "Pregnancy Tests",
                "Other"
            ],
            "ANC/PNC": [
                "value"
            ]
        }
    },
    "ANTI-Retroviral Treatment (ART)": {
        "1. TB": {
            "Diagnosed": "value",
            "Treated": "value"
        },
        "2. Number of Patients given each ART duration": {
            "1 Month": "value",
            "2 Month": "value",
            "3 Month": "value",
            "___months": "value",
            "Total number of people": "value",
            "Total no. months given": "value"
        },
        "3. Patients Receiving ART": {
            "Age": [
                "0-1 year",
                "2-4 years",
                "5-14 years",
                "15 and up",
                "Total"
            ],
            "Male": {
                "0-1 year": "value",
                "2-4 years": "value",
                "5-14 years": "value",
                "15 and up": "value",
                "Total": "value"
            },
            "Female": {
                "0-1 year": "value",
                "2-4 years": "value",
                "5-14 years": "value",
                "15 and up": "value",
                "Total": "value"
            }
        },
        "3. Patients Newly Linked to Core": {
            "Age": [
                "0-1 year",
                "2-4 years",
                "5-14 years",
                "15 and up",
                "Total"
            ],
            "Male": {
                "0-1 year": "value",
                "2-4 years": "value",
                "5-14 years": "value",
                "15 and up": "value",
                "Total": "value"
            },
            "Female": {
                "0-1 year": "value",
                "2-4 years": "value",
                "5-14 years": "value",
                "15 and up": "value",
                "Total": "value"
            }
        },
        "5. Viral Load Blood Samples Token": {
            " ": [
                "Total"
            ],
            "Male": {
                "Total": "value"
            },
            "Female": {
                "Total": "value"
            }
        }
    }
}


# Flatten the 'OUTREACH CLINIC DATA FROM B' section
clinic_data = pd.DataFrame([json_data["OUTREACH CLINIC DATA FROM B"]])

# Flatten the 'Number of Health Workers' section
health_workers = pd.DataFrame([json_data["OUTREACH CLINIC INFORMATION"]["Number of Health Workers"]])

# Convert columns into rows using melt
clinic_data = clinic_data.melt(var_name="Attribute", value_name="Value")
health_workers = health_workers.melt(var_name="Health Worker Role", value_name="Count")

# Extract 'Services offered'
services_offered = pd.DataFrame({"Services Offered": json_data["OUTREACH CLINIC INFORMATION"]["Services offered"]})

# Flatten the 'What services were IMPACTED or UNAVAILABLE due to stockouts?' section
stockouts_data = json_data["OUTREACH CLINIC INFORMATION"]["What services were IMPACTED or UNAVAILABLE due to stockouts?"]
stockouts_list = []
for service, impacts in stockouts_data.items():
    for impact in impacts:
        stockouts_list.append({"Service": service, "Impact": impact})
stockouts_df = pd.DataFrame(stockouts_list)

art_data = json_data["ANTI-Retroviral Treatment (ART)"]
# Create separate DataFrames for each subsection
tb_df = pd.DataFrame([art_data["1. TB"]])
patients_duration_df = pd.DataFrame([art_data["2. Number of Patients given each ART duration"]])

# Convert columns into rows using melt
tb_df = tb_df.melt(var_name="Attribute", value_name="Value")
patients_duration_df = patients_duration_df.melt(var_name="Atribute", value_name="Value")

# Process "3. Patients Receiving ART"
receiving_art_data = art_data["3. Patients Receiving ART"]
receiving_art_df = pd.DataFrame({
    "Age Group": receiving_art_data["Age"],
    "Male": list(receiving_art_data["Male"].values()),
    "Female": list(receiving_art_data["Female"].values())
})

# Process "3. Patients Newly Linked to Core"
newly_linked_data = art_data["3. Patients Newly Linked to Core"]
newly_linked_df = pd.DataFrame({
    "Age Group": newly_linked_data["Age"],
    "Male": list(newly_linked_data["Male"].values()),
    "Female": list(newly_linked_data["Female"].values())
})

# Process "5. Viral Load Blood Samples Token"
viral_load_data = art_data["5. Viral Load Blood Samples Token"]
viral_load_df = pd.DataFrame({
    "Gender": ["Male", "Female"],
    "Total": [viral_load_data["Male"]["Total"], viral_load_data["Female"]["Total"]]
})


# Display all DataFrames
print("TB DataFrame:")
print(tb_df, end="\n\n")

print("Number of Patients Duration DataFrame:")
print(patients_duration_df, end="\n\n")

print("Patients Receiving ART DataFrame:")
print(receiving_art_df, end="\n\n")

print("Patients Newly Linked to Core DataFrame:")
print(newly_linked_df, end="\n\n")

print("Viral Load Blood Samples DataFrame:")
print(viral_load_df, end="\n\n")

# Combine all sections into a dictionary of DataFrames for display
dataframes = {
    "Clinic Data": clinic_data,
    "Health Workers": health_workers,
    "Services Offered": services_offered,
    "Stockouts": stockouts_df,
    "TB": tb_df,
    "Patients Duration": patients_duration_df,
    "Receiving ART": receiving_art_df,
    "Patients Newly Linked": newly_linked_df,
    "Viral Load Blood Samples": viral_load_df
}

# Print each DataFrame
for name, df in dataframes.items():
    print(f"\n{name}:\n", df)

TB DataFrame:
   Attribute  Value
0  Diagnosed  value
1    Treated  value

Number of Patients Duration DataFrame:
                 Atribute  Value
0                 1 Month  value
1                 2 Month  value
2                 3 Month  value
3               ___months  value
4  Total number of people  value
5  Total no. months given  value

Patients Receiving ART DataFrame:
    Age Group   Male Female
0    0-1 year  value  value
1   2-4 years  value  value
2  5-14 years  value  value
3   15 and up  value  value
4       Total  value  value

Patients Newly Linked to Core DataFrame:
    Age Group   Male Female
0    0-1 year  value  value
1   2-4 years  value  value
2  5-14 years  value  value
3   15 and up  value  value
4       Total  value  value

Viral Load Blood Samples DataFrame:
   Gender  Total
0    Male  value
1  Female  value


Clinic Data:
              Attribute  Value
0  Person filling form  value
1             Position  value
2        Health Centre  value
3              Village  value
4                 Date  value

Health Workers:
      Health Worker Role  Count
0  Total Health Workers  value
1     Enrolled Midwives  value
2   Registered Midwives  value
3          Case Officer  value
4           Counsellors  value
5        Lab Technician  value
6     Nursing Assistant  value
7        Enrolled Nurse  value
8      Registered Nurse  value
9       Other (Specify)  value

Services Offered:
           Services Offered
0        General Treatment
1              ART Refills
2          Family Planning
3                  ANC/PNC
4  HIV Counselling/Testing
5             Immunization

Stockouts:
              Service             Impact
0  General Treatment  Malaria Treatment
1  General Treatment        Amoxicillin
2  General Treatment              Other
3            HIV/ART                ART
4            HIV/ART            Testing
5            HIV/ART              Other
6    Family Planning    Pregnancy Tests
7    Family Planning              Other
8            ANC/PNC              value

TB:
    Attribute  Value
0  Diagnosed  value
1    Treated  value

Patients Duration:
                  Atribute  Value
0                 1 Month  value
1                 2 Month  value
2                 3 Month  value
3               ___months  value
4  Total number of people  value
5  Total no. months given  value

Receiving ART:
     Age Group   Male Female
0    0-1 year  value  value
1   2-4 years  value  value
2  5-14 years  value  value
3   15 and up  value  value
4       Total  value  value

Patients Newly Linked:
     Age Group   Male Female
0    0-1 year  value  value
1   2-4 years  value  value
2  5-14 years  value  value
3   15 and up  value  value
4       Total  value  value

Viral Load Blood Samples:
    Gender  Total
0    Male  value
1  Female  value

In [47]:
clinic_data

             Attribute  Value
0  Person filling form  value
1             Position  value
2        Health Centre  value
3              Village  value
4                 Date  value

In [48]:
health_workers

     Health Worker Role  Count
0  Total Health Workers  value
1     Enrolled Midwives  value
2   Registered Midwives  value
3          Case Officer  value
4           Counsellors  value
5        Lab Technician  value
6     Nursing Assistant  value
7        Enrolled Nurse  value
8      Registered Nurse  value
9       Other (Specify)  value

In [49]:
services_offered

          Services Offered
0        General Treatment
1              ART Refills
2          Family Planning
3                  ANC/PNC
4  HIV Counselling/Testing
5             Immunization

In [50]:
stockouts_df

             Service             Impact
0  General Treatment  Malaria Treatment
1  General Treatment        Amoxicillin
2  General Treatment              Other
3            HIV/ART                ART
4            HIV/ART            Testing
5            HIV/ART              Other
6    Family Planning    Pregnancy Tests
7    Family Planning              Other
8            ANC/PNC              value

In [51]:
tb_df

   Attribute  Value
0  Diagnosed  value
1    Treated  value

In [52]:
patients_duration_df

                 Atribute  Value
0                 1 Month  value
1                 2 Month  value
2                 3 Month  value
3               ___months  value
4  Total number of people  value
5  Total no. months given  value

In [53]:
receiving_art_df

    Age Group   Male Female
0    0-1 year  value  value
1   2-4 years  value  value
2  5-14 years  value  value
3   15 and up  value  value
4       Total  value  value

In [54]:
newly_linked_df

    Age Group   Male Female
0    0-1 year  value  value
1   2-4 years  value  value
2  5-14 years  value  value
3   15 and up  value  value
4       Total  value  value

In [55]:
viral_load_df

   Gender  Total
0    Male  value
1  Female  value

In [56]:
df

   Gender  Total
0    Male  value
1  Female  value

### Form C

In [ ]:
import pandas as pd

# Define the JSON structure
data = {
    "OUTREACH CLINIC DATA FROM C": {
        "Person filling form": "value",
        "Health Centre": "value",
        "Position": "value",
        "Village visited": "value",
        "Date": "value",
        "Additional treatments or test given and number of patients for each": "value",
        "Additional comments/concerns (continue on back if necessary)": "value"
    },
    "Other Services": {
        "Diabetes Referrals": "value",
        "Child Check-ups": "value",
        "Patients Given Pain Relievers": "value",
        "Immunizations Given": "value",
        "Vitamins Given": "value",
        "Total Pregnant Women Served at Outreach for any reason":{
            "Syphilis": {
                "Total Tested": "value",
                "Tested Positive": "value",
                "Given Treatment": "value"
            },
            "Hypertension": {
                "Total Screened": "value",
                "Diagnosed": "value",
                "Given Medication": "value"
            },
            "Malaria": {
                "Suspected Fever": "value",
                "Tested Positive": "value",
                "Given Medication": "value"
            }
        },
        "__" : {
            "Diagnosed": {
                "Intestinal Worms": "value",
                "Fungal (Non-Candidiasis)": "value",
                "Candidiasis": "value",
                "Ulcers": "value",
                "Diarrhea": "value",
                "Gastro-Intestinal Disorders (Non-Diarrhea)": "value",
                "Allergy": "value",
                "Chronic Respiratory Disease": "value"
            },
            "Given Treatment": {
                "Intestinal Worms": "value",
                "Fungal (Non-Candidiasis)": "value",
                "Candidiasis": "value",
                "Ulcers": "value",
                "Diarrhea": "value",
                "Gastro-Intestinal Disorders (Non-Diarrhea)": "value",
                "Allergy": "value",
                "Chronic Respiratory Disease": "value"
            }
        },
        "___" : {
            "Diagnosed": {
                "Measles": "value",
                "RTI": "value",
                "Malnutrition": "value",
                "Burns": "value",
                "Injuries": "value",
                "UTI": "value",
                "Gonorrhoea": "value",
                "Other STIs": "value",
                "Eye Infection": "value"
            },
            "Given Treatment": {
                "Measles": "value",
                "RTI": "value",
                "Malnutrition": "value",
                "Burns": "value",
                "Injuries": "value",
                "UTI": "value",
                "Gonorrhoea": "value",
                "Other STIs": "value",
                "Eye Infection": "value"
            }
        }
    }
}

# Convert each section into a separate dataframe
df_outreach = pd.DataFrame(data["OUTREACH CLINIC DATA FROM C"], index=[0])
df_other_services = pd.DataFrame(data["Other Services"], index=[0])

# Convert columns into rows using melt
df_outreach = df_outreach.melt(var_name="Attribute", value_name="Value")
df_other_services = df_other_services.melt(var_name="Atribute", value_name="Value")

data_expanded = data['Other Services']
df_pregnant_women = pd.DataFrame(data_expanded["Total Pregnant Women Served at Outreach for any reason"]).transpose()
df_double_underscore = pd.concat({key: pd.Series(value) for key, value in data_expanded["__"].items()}, axis=1)
df_triple_underscore = pd.concat({key: pd.Series(value) for key, value in data_expanded["___"].items()}, axis=1)

In [36]:
df_outreach

                                           Attribute  Value
0                                Person filling form  value
1                                      Health Centre  value
2                                           Position  value
3                                    Village visited  value
4                                               Date  value
5  Additional treatments or test given and number...  value
6  Additional comments/concerns (continue on back...  value

In [37]:
df_other_services

                                            Atribute  Value
0                                 Diabetes Referrals  value
1                                    Child Check-ups  value
2                      Patients Given Pain Relievers  value
3                                Immunizations Given  value
4                                     Vitamins Given  value
5  Total Pregnant Women Served at Outreach for an...    NaN
6                                                 __    NaN
7                                                ___    NaN

In [38]:
df_pregnant_women

,Total Tested,Tested Positive,Given Treatment,Total Screened,Diagnosed,Given Medication,Suspected Fever
Syphilis,value,value,value,NaN,NaN,NaN,NaN
Hypertension,NaN,NaN,NaN,value,value,value,NaN
Malaria,NaN,value,NaN,NaN,NaN,value,value

In [39]:
df_double_underscore

                                           Diagnosed Given Treatment
Intestinal Worms                               value           value
Fungal (Non-Candidiasis)                       value           value
Candidiasis                                    value           value
Ulcers                                         value           value
Diarrhea                                       value           value
Gastro-Intestinal Disorders (Non-Diarrhea)     value           value
Allergy                                        value           value
Chronic Respiratory Disease                    value           value

In [40]:
df_triple_underscore

              Diagnosed Given Treatment
Measles           value           value
RTI               value           value
Malnutrition      value           value
Burns             value           value
Injuries          value           value
UTI               value           value
Gonorrhoea        value           value
Other STIs        value           value
Eye Infection     value           value

### Form D

In [1]:
import pandas as pd

# Define the JSON structure
data = {
    "OUTREACH CLINIC DATA FROM D": {
        "Person filling form": "value",
        "Health Centre": "value",
        "Position": "value",
        "Village visited": "value",
        "Date": "value"
    },
    "HIV Counselling and Testing (HCT)": {
        "Conselled & Tested as couple": "value",
        "Received results as couple": "value",
        "Discordant Results": "value",
        "Returned for viral load results": "value",
        "TB Suspect": "value",
        "Total No. of Clients served_Male": "value",
        "Total No. of Clients served_Female": "value",
        "Counselled_Pre-Test": "value",
        "Counselled_Post-Test": "value",
        "HIV Test Results_Total Positive": "value", 
        "HIV Test Results_Total Negative": "value", 
    },
    "New Positives": {
        "Age" : [
        "18 mos-4 years",
        "5-9 years",
        "10 - 14 years",
        "15 - 18 years",
        "19 - 49 years",
        "50 and up",
        "Total"
        ],
        "Male": {
            "18 mos-4 years": "value",
            "5-9 years": "value",
            "10 - 14 years": "value",
            "15 - 18 years": "value",
            "19 - 49 years": "value",
            "50 and up": "value",
            "Total": "value"
        },
        "Female": {
            "18 mos-4 years": "value",
            "5-9 years": "value",
            "10 - 14 years": "value",
            "15 - 18 years": "value",
            "19 - 49 years": "value",
            "50 and up": "value",
            "Total": "value"
        }
    },
    "Patients Tested for First Time": {
        "Age" : [
        "18 mos-4 years",
        "5-9 years",
        "10 - 14 years",
        "15 - 18 years",
        "19 - 49 years",
        "50 and up",
        "Total"
        ],
        "Male": {
            "18 mos-4 years": "value",
            "5-9 years": "value",
            "10 - 14 years": "value",
            "15 - 18 years": "value",
            "19 - 49 years": "value",
            "50 and up": "value",
            "Total": "value"
        },
        "Female": {
            "18 mos-4 years": "value",
            "5-9 years": "value",
            "10 - 14 years": "value",
            "15 - 18 years": "value",
            "19 - 49 years": "value",
            "50 and up": "value",
            "Total": "value"
        }
    }
}


# Convert "OUTREACH CLINIC DATA FROM D" into a DataFrame and melt it
df_outreach = pd.DataFrame(data["OUTREACH CLINIC DATA FROM D"], index=[0])
df_outreach = df_outreach.melt(var_name="Attribute", value_name="Value")

# Convert "HIV Counselling and Testing (HCT)" into a DataFrame and transpose it
df_hct = pd.DataFrame(data["HIV Counselling and Testing (HCT)"], index=[0]).transpose()
df_hct.reset_index(inplace=True)
df_hct.columns = ['Attribute', 'Value']

new_positive_data = data["New Positives"]
new_positive_df = pd.DataFrame({
    "Age Group": new_positive_data["Age"],
    "Male": list(new_positive_data["Male"].values()),
    "Female": list(new_positive_data["Female"].values())
})

patient_tested_data = data["Patients Tested for First Time"]
patient_tested_df = pd.DataFrame({
    "Age Group": patient_tested_data["Age"],
    "Male": list(patient_tested_data["Male"].values()),
    "Female": list(patient_tested_data["Female"].values())
})

In [2]:
df_outreach

             Attribute  Value
0  Person filling form  value
1        Health Centre  value
2             Position  value
3      Village visited  value
4                 Date  value

In [3]:
df_hct

                             Attribute  Value
0         Conselled & Tested as couple  value
1           Received results as couple  value
2                   Discordant Results  value
3      Returned for viral load results  value
4                           TB Suspect  value
5     Total No. of Clients served_Male  value
6   Total No. of Clients served_Female  value
7                  Counselled_Pre-Test  value
8                 Counselled_Post-Test  value
9      HIV Test Results_Total Positive  value
10     HIV Test Results_Total Negative  value

In [4]:
new_positive_df

        Age Group   Male Female
0  18 mos-4 years  value  value
1       5-9 years  value  value
2   10 - 14 years  value  value
3   15 - 18 years  value  value
4   19 - 49 years  value  value
5       50 and up  value  value
6           Total  value  value

In [5]:
patient_tested_df

        Age Group   Male Female
0  18 mos-4 years  value  value
1       5-9 years  value  value
2   10 - 14 years  value  value
3   15 - 18 years  value  value
4   19 - 49 years  value  value
5       50 and up  value  value
6           Total  value  value

### Loop

In [1]:
import google.generativeai as genai
import base64
import pandas as pd
import cv2
import json
import numpy as np

# local function to build try and except for json 

genai.configure(api_key='AIzaSyC1377TPsU3rrN68IR8nLSu3Lhd3W3z09E')

In [2]:
# Function to replace null values
def replace_values(data):
    if isinstance(data, dict):
        return {key: replace_values(value) for key, value in data.items()}
    elif isinstance(data, list):
        return [replace_values(item) for item in data]
    elif data in [None, "Null", "null", "", pd.NA]:
        return 0
    else:
        return data

# Function to enhance the image
def enhance_image(image_path):
    # Read the image
    image = cv2.imread(image_path)

    # Convert to grayscale
    gray = cv2.cvtColor(image, cv2.COLOR_BGR2GRAY)

    # Apply Gaussian blur to reduce noise
    blurred = cv2.GaussianBlur(gray, (3, 3), 0)

    # Apply adaptive thresholding to get a binary image
    adaptive_thresh = cv2.adaptiveThreshold(blurred, 255,
                                            cv2.ADAPTIVE_THRESH_GAUSSIAN_C,
                                            cv2.THRESH_BINARY_INV, 11, 3)

    # Morphological operations to enhance the text
    kernel = np.ones((1, 1), np.uint8)
    morph = cv2.morphologyEx(adaptive_thresh, cv2.MORPH_CLOSE, kernel)

    # Optionally, you can apply dilation to make the text thicker
    dilated = cv2.dilate(morph, kernel, iterations=1)

    return dilated

In [7]:
def process_image_gemini_2_A(image, file_name):
    image_path = file_name
    enhanced_image = enhance_image(image_path)
    image_path=f"{file_name}_enhanced_image.jpg"
    cv2.imwrite(image_path, enhanced_image)
        # Read the image file
    with open(image_path, "rb") as image_file:
        image_data = image_file.read()
        
    print(type(enhanced_image),'----------',type(image_data))
    model = genai.GenerativeModel(model_name="gemini-2.0-flash-exp")
    prompt = """
    You are a highly intelligent and smart assistant.
    Your task is extract the the following json values from the given image.
    Extract the correct values for:
    {
    "OUTREACH CLINIC DATA FROM A": {
        "Person filling form": "value",
        "Position": "value",
        "LCA name (If Applicable)": "value",
        "Village": "value",
        "District": "value"
    },
    "OUTREACH CLINIC INFORMATION": {
        "Date": "value",
        "Intended Start Time": "value",
        "Actual Start Time": "value",
        "End Time": "value",
        "Was an HAC worker present? (Circle)": "Yes/No",
        "Were any other organisations involved or contributing to this outreach?": "Yes/No",
        "If yes, name of organisation": "value",
        "List names of villages patients came from": ["value1", "value2"]
    },
    "Total Patients": {
        "Ages": [
            "0-28 days",
            "29 days-4 years",
            "5 years-9 years",
            "10 years-18 years",
            "19 years-24 years",
            "25 years-59 years",
            "60 years and up"
        ],
        "Male": {
            "0-28 days": "Nill",
            "29 days-4 years": "value",
            "5 years-9 years": "value",
            "10 years-18 years": "value",
            "19 years-24 years": "value",
            "25 years-59 years": "value",
            "60 years and up": "value"
        },
        "Female": {
            "0-28 days": "Nill",
            "29 days-4 years": "value",
            "5 years-9 years": "value",
            "10 years-18 years": "value",
            "19 years-24 years": "value",
            "25 years-59 years": "value",
            "60 years and up": "value"
        },
        "Total": {
            "0-28 days": "Nill",
            "29 days-4 years": "value",
            "5 years-9 years": "value",
            "10 years-18 years": "value",
            "19 years-24 years": "value",
            "25 years-59 years": "value",
            "60 years and up": "value"
        }
    },
    "Money Collected": {
        " ": [
            "Adults",
            "Children",
            "Exceptions",
            "Reduced Payments",
            "Fees waived",
            "Total"
        ],
        "Number of People": {
            "Adults": "value",
            "Children": "value",
            "Exceptions": "value",
            "Reduced Payments": "value",
            "Fees waived": "value",
            "Total": "value"
        },
        "UGX per person": {
            "Adults": "value",
            "Children": "value",
            "Exceptions": "value",
            "Reduced Payments": "value",
            "Fees waived": "value",
            "Total": "value"
        },
        "Total Collected": {
            "Adults": "value",
            "Children": "value",
            "Exceptions": "value",
            "Reduced Payments": "value",
            "Fees waived": "value",
            "Total": "value"
        }
    },
    "Money Distributed": {
        " ": [
            "Total given to HCWs",
            "Total given to VHTs/LCA Member",
            "Transporters",
            "Other Costs",
            "Total"
        ],
        "Amount Distributed": {
            "Total given to HCWs": "value",
            "Total given to VHTs/LCA Member": "value",
            "Transporters": "value",
            "Other Costs": "value",
            "Total": "value"
        }
    }
    }
    Only return the given json which is valid and ready to dump in json.loads.
    """
    response = model.generate_content(
        [
            {
                "mime_type": "image/jpeg",
                "data": base64.b64encode(image_data).decode("utf-8"),
            },
            prompt,
        ]
    )
    a=response.text
    a=a.replace("`","").replace("json","")
    try:
        if a:  # Check if 'a' is not empty or None
            data = json.loads(a)
        else:
            raise ValueError("No JSON data provided.")
    except json.JSONDecodeError:
        print("Error: Invalid JSON format.")
        data = None
    except ValueError as e:
        print(f"Error: {e}")
        data = None
    
    # Create DataFrames for each section
    df1 = pd.DataFrame([data["OUTREACH CLINIC DATA FROM A"]])
    df2 = pd.DataFrame([data["OUTREACH CLINIC INFORMATION"]])

    # Convert columns into rows using melt
    df1 = df1.melt(var_name="Attribute", value_name="Value")
    df2 = df2.melt(var_name="Atribute", value_name="Value")

    # Handle "Total Patients"
    total_patients_data = data["Total Patients"]
    df3 = pd.DataFrame({
        "Age Group": total_patients_data["Ages"],
        "Male": list(total_patients_data["Male"].values()),
        "Female": list(total_patients_data["Female"].values()),
        "Total": list(total_patients_data["Total"].values())
    })

    # Handle "Money Collected"
    money_collected_data = data["Money Collected"]
    df4 = pd.DataFrame({
        "Category": money_collected_data[" "],
        "Number of People": list(money_collected_data["Number of People"].values()),
        "UGX per person": list(money_collected_data["UGX per person"].values()),
        "Total Collected": list(money_collected_data["Total Collected"].values())
    })

    # Handle "Money Distributed"
    money_distributed_data = data["Money Distributed"]
    df5 = pd.DataFrame({
        "Category": money_distributed_data[" "],
        "Amount Distributed": list(money_distributed_data["Amount Distributed"].values())
    })

    df1=df1.fillna(0)
    df2 = df2.fillna(0)
    df3 = df3.fillna(0)
    df4 = df4.fillna(0)
    df5=df5.fillna(0)
    # df6=df6.fillna(0)

    df1 = df1.replace("null", 0)
    df2 = df2.replace("null", 0)
    df3 = df3.replace("null", 0)
    df4 = df4.replace("null", 0)
    df5 = df5.replace("null", 0)
    # df6 = df6.replace("null", 0)
    return df1, df2, df3, df4, df5

In [8]:
process_image_gemini_2_A("file-1.jpg", "file-1.jpg")

<class 'numpy.ndarray'> ---------- <class 'bytes'>

(                  Attribute                  Value
 0       Person filling form         KHSIRYE ABUSOM
 1                  Position           FOCAL PERSON
 2  LCA name (If Applicable)  NAMUKUPA HEALTH GROUP
 3                   Village               NAMUKUPA
 4                  District                 HUKONG,
                                             Atribute               Value
 0                                               Date          27-02-2024
 1                                Intended Start Time             10:00AM
 2                                  Actual Start Time            12:00 PM
 3                                           End Time             6.00 PM
 4                Was an HAC worker present? (Circle)                 Yes
 5  Were any other organisations involved or contr...                  No
 6                       If yes, name of organisation                   0
 7          List names of villages patients came from  [NAMUKUPA VILLAGE],
            Age Group  Male Female Total
 0          0-28 days  Nill   Nill  Nill
 1    29 days-4 years    03     04    07
 2    5 years-9 years    03     04    07
 3  10 years-18 years    02     02    04
 4  19 years-24 years    00     02    02
 5  25 years-59 years    04     11    15
 6    60 years and up    03     05    08,
            Category Number of People UGX per person Total Collected
 0            Adults               26           2000          52,000
 1          Children               15           1000           15000
 2        Exceptions                0              0               0
 3  Reduced Payments                0              0               0
 4       Fees waived                0              0               0
 5             Total               41              0           67000,
                          Category Amount Distributed
 0             Total given to HCWs             60,000
 1  Total given to VHTs/LCA Member             10,000
 2                    Transporters             20,000
 3                     Other Costs                  0
 4                           Total             90,000)